* {
  font-family: "Inter Tight", serif;
  margin: 0;
  padding: 0;
  /* background-color: #f4f4f9; */
  color: #333;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
}

select,
button {
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

#resultado {
  margin-top: 20px;
  font-size: 1.2rem;
  text-align: center;
}

#map {
  height: 400px;
  width: 600px;
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
}
